name : shell commands
on : [push,pull_request]
jobs:
  run-shell-commands:
    runs-on: ubuntu-latest
    steps:
      - name : echo string
        run : echo "Hello All!!"
      - name : multi line commands
        run : |
          node -v
          npm -v